*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
    height: 100vh;
    font-family: 'DM Mono', monospace;
}

/* Tamanho de telas */

@media( min-width: 400px ){
    body {
        font-size: 14px;
    }
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: beige;
}



.img-title .img-header{
   margin-left: -350px;
   margin-top: 150px;
   height: 30em;
   width: 30em;
   
}

.img-s{
    display: flex;
    justify-content: flex-end;
    width: 30em;
 }

.menu{
    background-color: black;
    color: aqua;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    display: block;
    padding: 10px 20px;
    font-size: 1.5em;
    font-family: 'Squada One', cursive;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    background-color: #6C63FF;
    color: aliceblue;
}

.title-site, .site-subtitle{
    color: #6C63FF;
    text-align: center;
}

.title-site{
    font-size: 5em;
    font-family: 'Squada One', cursive;
}

.site-subtitle{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2.5em;
}

.portifolio{
    padding: 2em;
    height: 100vh;
    background-color: antiquewhite;
}

.portifolio h2{
    font-family: 'Staatliches', cursive;
    color: #6C63FF;
    margin-bottom: 1em;
    font-size: 3.5em;
    text-align: center;
}

.sobre{
    margin-top: 4em;
    display: flex;
    justify-content: center;
    padding: 2em;
    height: 50vh;
}

.sobre .tecnologia img{
    width: 4em;
}

.sobre h2{
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: #6C63FF;
    font-size: 3.5em;
}

.sobre .c-sobre p{
    text-align: center;
    font-size: 1.5em;

}

.portifolio figcaption{
    font-size: 1.8em;
}

.portifolio .grid {
    display: grid;
    justify-content: center;
    gap: 2em;
    grid-template-columns: 180px 180px;
    text-align: center;
  }
  
  .portifolio figure {
    text-align: center;
  }

.img-portifolio{
    height: 180px;
    width: 180px;
}

footer{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    padding: 2em;
    height: 10vh;
}

footer h2{
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: #6C63FF;
    font-size: 3.5em;
}

.img-contact img{
    margin-left: -30em;
    margin-right: 5em;
    width: 30em;
    align-items: flex-start;
}